.card {
  float: left;
  display: block;
  position: relative;
  width: $cubesize;
  @include breakpoint(ant) { width: 33.33%;}
  @include breakpoint(tiny_l) { width: 50%;}
  height: $cubesize;
  padding: 0 10px 10px 0;

  &.active {
    top: 2px;
    left: 1px;
  }

  .content {
    width: 100%;
    height: 100%;
    position: relative;
  }


}

.cardface {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(black, 0.4);

  &.front a {
    display: block;
    text-decoration: none;
    background: $lightgrey;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
  }

  &.front:hover a {
    background: $hovergrey;
  }

  &.back {
    padding: 20px 10px;
    background: $backgrey;
    color: white;

    // Hide on load to prevent flashing the back
    display: none;
  }
}