// Settings
$linkbox: 200px;
$margin: 10px;
$cubesize: $linkbox + $margin;

// Colors
$lightgrey: whitesmoke;
$hovergrey: #eee;
$orange: #f78145;
$backgrey: #666;

// Breakpoints
@mixin breakpoint($point) {
  @if $point == cat {
    @media (min-width: 6 * $cubesize + $margin) { @content; }
  }
  @else if $point == rat {
    @media (max-width: 6 * $cubesize + $margin) { @content; }
  }
  @else if $point == bat {
    @media (max-width: 4 * $cubesize + $margin) { @content; }
  }
  @else if $point == ant {
    @media (max-width: 3 * $cubesize + $margin) { @content; }
  }
}

// Tools
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}