.logo {
	display: block;
	text-align: center;
	opacity: 0.5;
	margin: 0 auto;
	color: rgba(black, 0.8);
	text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;
}

.linkbox.hover .logo {
	opacity: 0.8;
}

#email .logo,
#schedule .logo,
#dinner .logo,
#grades .logo {
	font-family: "Glyphicons";
	font-size: 6em;
}

#studweb .logo,
#map .logo,
#cloudstor .logo,
#romres .logo,
#it-hjelp .logo {
	font-family: "Entypo";
	font-size: 13em;
	line-height: 0.65em;
}

#itslearning .logo {
	font-family: "itslearning";
	font-size: 5.5em;
	line-height: 1.5em;
}

.flip-button {
  cursor: pointer;
  font-family: "Entypo";
  font-size: 2.5em;
  line-height:0.5em;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.4;
  &:hover {
    opacity: 0.7;
  }
}

.front .flip-button {
  color: rgba(black, 0.8);
  text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;
  display: none;
  .touch & {
  	display: block;
  }
}

.back .flip-button {
  text-shadow: 1px 1px 2px rgba(black, 0.7);
}