.modal {
  // Positioning
  left: 50%;
  margin: 10px;
  margin-left: -300px;
  max-width: 600px;
  @include breakpoint(ant) { 
    left: 0;
    margin-left: 10px;
  }

  // Styling 
  background: white;
  @include border-radius();
  @include box-shadow(rgba(black, 0.7) 0 0px 4px);

  // Hidden on load
  display: none;

  // Hack to get margin at the bottom
  .spacer {
    height: 10px;
    margin: 0 0 -10px 0;
    background: transparent;
  }
}

// A modal section consist of a header area and a content area
.modal-section {
  .header {
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 10px 20px 5px 20px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: relative;
    overflow: hidden;

    h2 {
      font-weight: bold;
      text-align: left;
      opacity: 0.8;
      @include breakpoint(ant) { font-size: 1.4em; }
    }
  }

  // Curve corners and remove border-top for the first modal-section
  &:first-child .header {
    @include border-top-radius();
    border-top: 0;
    margin-top: 0;
  }

  .content {
    padding: 15px 20px;

    li {
      margin-left: 20px;
    }

    a {
      text-decoration: none;
      color: rgb(170, 16, 16);
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


// Background fading
#lean_overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
}

// Close button
.modal_close {
  position: absolute;
  display: block;
  top: 10px;
  right: 17px;
  width: 14px;
  height: 14px;
  z-index: 2;
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0.6;

  &:hover {
    opacity: 0.9;
  }
}

// Trigger button
#about-button {
  text-decoration: none;
}

// About Instabart (modal section)
.protip i {
  display: inline;
  position: relative;
  top: 2px;
  text-shadow: none;
}

// Talk to us (modal section)
.social .well i {
  display: inline;
  position: relative;
  top: 5px;
  font-size: 3em;
  opacity: 0.5;
  transition: 0.15s ease;
  margin-right: 10px;
  float: left;
}

.social .hover .twittercircle { opacity: 1; color: rgba(83, 149, 174, 0.9); }
.social .hover .githubcircle { opacity: 1; color: rgba(151, 53, 53, 0.9); }
.social .hover .emailcircle { opacity: 1; color: rgba(108, 150, 58, 0.9); }

// Other fancy sites/apps (modal section)
.modal-section .well {
  @include border-radius();
  padding: 10px;
  transition: 0.15s ease;
  display: block;

  p {
    color: black;
    margin-bottom: 0;
  }

  h3 {
    color: black;
  }

  img {
    margin: 4px 10px 0 0;
    opacity: 0.8;
    float: left;
    -webkit-filter: grayscale(1);
    transition: 0.15s ease;
  }

  &:hover {
    background-color: #eee;

    img {
      -webkit-filter: grayscale(0);
    }
  }
}