@font-face {
  font-family: 'pictograms';
  src: url('../fonts/pictograms.woff') format('woff'),
       url('../fonts/pictograms.ttf') format('truetype');
}

i {
  font-family: "pictograms";
  font-style: normal;
  display: block;
  color: rgba(black, 0.8);
  text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;
}

.pictogram {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 6em;
  opacity: 0.5;

  .hover & {
    opacity: 0.8;
  }
}

.itslearning:after   { content:"\e00e"; font-size: 0.9em; }
.email:after         { content:"\e00a"; font-size: 0.7em; }
.schedule:after      { content:"\e008"; font-size: 1em; }
.studweb:after       { content:"\e006"; font-size: 1.1em; }
.dinner:after        { content:"\e009"; }
.map:after           { content:"\e000"; font-size: 1.1em; }
.filesender:after    { content:"\e002"; font-size: 1.2em; }
.grades:after        { content:"\e00b"; }
.romres:after        { content:"\e005"; font-size: 1.1em; }
.it-help:after       { content:"\e007"; font-size: 1.1em; }
.farm:after          { content:"\e00f"; font-size: 0.9em; }
.kundesenteret:after { content:"\e010"; font-size: 0.9em; }
.info:after          { content:"\e003"; }
.question:after      { content:"\e004"; }
.warning:after       { content:"\e00c"; }
.cogwheel:after      { content:"\e00d"; }
.close:after         { content:"\e001"; }
.fire:after          { content:"\e012"; }
.megaphone:after     { content:"\e015"; }
.github:after        { content:"\e019"; }
.twitter:after       { content:"\e01c"; }
.lego:after          { content:"\e01d"; }
.emailcircle:after   { content:"\e01e"; }
.chat:after          { content:"\e01f"; }


.email         { padding-top: 0; }
.studweb       { padding-top: 5px; }
.dinner        { padding-left: 10px; }
.map           { padding-top: 5px; }
.filesender    { padding-top: 0; }
.romres        { padding-top: 5px; }
.it-help       { padding-top: 5px; }

.flip-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
  }
}

// Hide the buttons on the front card by default
.front .flip-button,
#schedule-settings-button {
  display: none;
}

// Show the buttons when using a touch screen or when the card is being hovered
.touch .flip-button,
.touch #schedule-settings-button,
.no-touch .front:hover .flip-button,
.no-touch .front:hover #schedule-settings-button {
  display: block;
}

.back .flip-button {
  color: white;
  text-shadow: 1px 1px 2px rgba(black, 0.7);
}

#schedule-settings-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
  }
}

#about-button {
  position: absolute;
  top: 15px;
  @include breakpoint (ant) { top: -7px; }
  right: 10px;
  font-size: 3em;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
  }
}

// Modal header pictograms
.header i {
  position: absolute;
  bottom: -10px;
  right: 50px;
  opacity: 0.2;
  font-size: 3.2em;
  @include breakpoint(ant) {
    right: 20px;
    font-size: 2.6em;
    bottom: -8px;
  }
  @include transform(rotate(-25deg));

  &.question {
    @include breakpoint(ant) { right: 30px; }
  }

  &.chat {
    @include transform(rotate(-10deg));
    font-size: 3.1em;
    bottom: -8px;
    @include breakpoint(ant) {
      font-size: 2.4em;
      bottom: -6px;
    }
  }

  &.fire {
    font-size: 3.6em;
    @include breakpoint(ant) {
      font-size: 2.9em;
    }
  }

  &.lego {
    @include transform(rotate(0));
    font-size: 2.9em;
    bottom: -8px;
    right: 40px;
    @include breakpoint(ant) {
      right: 15px;
      font-size: 2.3em;
    }
  }
}