@include font-face("Entypo", font-files("../fonts/entypo/entypo.woff", "../fonts/entypo/entypo.ttf", "../fonts/entypo/entypo.svg"), eot("../fonts/entypo/entypo.eot"));
@include font-face("Glyphicons", font-files("../fonts/glyphicons/glyphicons.woff", "../fonts/glyphicons/glyphicons.ttf", "../fonts/glyphicons/glyphicons.svg"), eot("../fonts/glyphicons/glyphicons.eot"));
@include font-face("itslearning", font-files("../fonts/itslearning/itslearning.woff", "../fonts/itslearning/itslearning.ttf", "../fonts/itslearning/itslearning.svg"), eot("../fonts/itslearning/itslearning.eot"));


h2 {
	font-weight: 100;
	margin: 0;
	text-align: center;
	font-family: "museo-sans", "Helvetica Neue", sans-serif;
	font-size: 1.9em;
}