@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-size: 1.9em;
}

.front {
  h2 {
  color: rgba(black, 0.8);
  text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;
  opacity: 0.5;
  }

  &.hover h2 {
    opacity: 0.8;
  }
}

.back {
  h2, p {
    text-shadow: 1px 1px 2px rgba(black, 0.7);
  }

  p {
    margin-top: 0.5em;
    color: rgba(white, 0.9);
    text-align: center;
    font-size: 0.9em;
    line-height: 1.4em;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

// Footer
footer {
  font-size: 0.8em;
  color: #999;
  text-align: center;

  a {
    color: #999;

    &:hover {
      color: #666;
    }
  }
}