@import "compass/css3/";
@import "bits";
@import "normalize";
@import "typography";
@import "logo";
@import "tools";
@import "linkbox";
@import "flip";


// Basic page setup
* {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

// Don't show shadows when selecting text
::-moz-selection { background: hotpink; color: #fff; text-shadow: none; }
::selection { background: hotpink; color: #fff; text-shadow: none; }

// Grid
#grid {
  padding-top: 4em;
	max-width: 630px;
	margin: 0 auto;
}

// Sticky footer
html, body {
	height: 100%;
}
#pagewrap {
	min-height: 100%;
	margin: 0 auto -2em; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 2em; /* .push must be the same height as .footer */
}