@import "compass/css3/";
@import "bits";
@import "normalize";
@import "typography";
@import "logo";
@import "tools";
@import "linkbox";


// Basic page setup
* {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

// Grid
#grid {
	width: 630px;
	margin: 0 auto;
	margin-top: 5em;
}