@import "compass/css3";
@import "bits";
@import "normalize";
@import "typography";
@import "pictograms";
@import "card";
@import "cardflip";
@import "header";
@import "structure";
@import "modal";


// Basic page setup
* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

// Don't show shadows when selecting text
::-moz-selection { background: hotpink; color: #fff; text-shadow: none; }
::selection      { background: hotpink; color: #fff; text-shadow: none; }

#ie-warning {
  display: none;
}

.button {
  -webkit-appearance: none;
  border: none;
  position: relative;
  vertical-align: middle;
  padding: 8px 16px;
  margin: 4px 0;
  background-color: #aaa;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(black, 0.15);
  letter-spacing: 1px;
  outline: none;
  @include border-radius();
  @include transition(background-color 0.15s ease-in-out);
  @include box-shadow(0 4px 0 0 #777);
  @include breakpoint(ant){
    width: 100%;
  }

  &:hover {
    background-color: #bbb;
  }

  &:active {
    @include box-shadow(0 2px 0 0 #777);
    top: 2px;
  }

  // Colors
  &.button-primary {
    background-color: #3f8abf;
    @include box-shadow(0 4px 0 0 #2c6085);
    &:hover { background-color: #4795cc; }
    &:active { @include box-shadow(0 2px 0 0 #2c6085); }
  }

  &.button-success {
    background-color: #4fca74;
    @include box-shadow(0 4px 0 0 #3b9e59);
    &:hover { background-color: #51d479; }
    &:active { @include box-shadow(0 2px 0 0 #3b9e59); }
  }

  &.button-warning {
    background-color: #f6cc68;
    @include box-shadow(0 4px 0 0 #ddb24d);
    &:hover { background-color: #fad375; }
    &:active { @include box-shadow(0 2px 0 0 #ddb24d); }
  }

  &.button-danger {
    background-color: #e0433e;
    @include box-shadow(0 4px 0 0 #b0201c);
    &:hover { background-color: #e94641; }
    &:active { @include box-shadow(0 2px 0 0 #b0201c); }
  }
}

input[type=text] {
  padding: 5px 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #777;
  font-size: 1.3em;
  outline: none;
  @include transition(all .1s ease-in-out);
  @include border-radius();
  @include box-shadow(inset 0 2px 3px rgba(black, 0.1));
  &:focus {
    border-color: #53aded;
    @include box-shadow(inset 0 2px 3px rgba(black, 0.1), 0 0 6px rgba(83,173,237, 0.15));

  }

  &.success {
    border-color: #4fca74;
    background: #e3ffeb;
    @include box-shadow(inset 0 2px 3px rgba(79, 202, 116, 0.2));
    &:focus {
      @include box-shadow(inset 0 2px 3px rgba(79, 202, 116, 0.2), 0 0 6px rgba(79, 202, 116, 0.4));
    }
  }

  &.error {
    border-color: #e0433e;
    background: #fff1f1;
    @include box-shadow(inset 0 2px 3px rgba(224, 67, 62, 0.2));
    &:focus {
      @include box-shadow(inset 0 2px 3px rgba(224, 67, 62, 0.2), 0 0 6px rgba(224, 67, 62, 0.4));
    }
  }
}