<!doctype html>
<html lang="no" ng-app>

<head>
  <meta charset="UTF-8">
  <title>Instabart</title>
  <link rel="icon" type="image/ico" href="img/favicon.ico">
  <link rel="stylesheet" href="css/global.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" type="text/css" href="css/ie.css" />
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="js/global-ck.js"></script>
</head>

<body>
<div id="pagewrap">
  <div id="ie-warning">Kondolerer. Nettleseren din er like gammel som dinosaurene. Denne nettsiden kan av den grunn oppføre seg litt rart.</div>

  <header>
    <div id="headerwrap">
      <div id="logo"></div>
      <div id="headertext">
        <h1>Instabart</h1>
        <h3 id="tagline"></h3>
      </div>
      <a id="about-button" rel="leanModal" name="about" href="#about">
        <i class="question"></i>
      </a>
    </div>
  </header>

  <div id="grid" class="clearfix" ng-controller="CardCtrl">
    <div class="flip" ng-repeat="card in cards">
      <div class="card" id="{{ card.css_id }}">
        <div class="linkbox front">
          <a href="{{ card.link }}">
            <h2>{{card.title}}</h2>
            <i class="pictogram {{ card.pictogram }}"></i>
          </a>
          <i class="flip-button info"></i>
        </div>
        <div class="linkbox back">
          <a href="{{ card.link }}"><h2>{{card.title}}</h2></a>
          <p ng-bind-html-unsafe="card.description"></p>
          <i class="flip-button close"></i>
        </div>
      </div>
    </div>
  </div><!-- end grid -->

  <div class="push"></div>
</div><!-- end pagewrap -->

<footer>
  Laget av <a href="http://mvn.no">Morten Noddeland</a> (med kjærlighet)
</footer>

<!-- Hidden modal overlay -->
<div id="about" class="modal" ng-controller="ModalCtrl">
  <div class="modal-section" ng-repeat="section in modalSections">
    <div class="header">
      <h2>{{ section.title }}</h2>
      <i class="{{ section.pictogram }}"></i>
    </div>
    <div class="content">
      <p ng-bind-html-unsafe="section.text"></p>
    </div>
  </div>
  <i class="modal_close close"></i>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41409963-1']);
  _gaq.push(['_setDomainName', 'instabart.no']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>