---
import Card from '../components/Card.astro';
import CardWrap from '../components/CardWrap.astro';
import Header from '../components/Header.astro';
import Page from '../components/Page.astro';
import Wrap from '../components/Wrap.astro';
---

<Page title="Welcome to Astro">
  <Wrap>
    <Header />
    <main>
      <CardWrap>
        <Card href="https://innsida.ntnu.no/blackboard" title="Blackboard" />
        <Card
          href="https://outlook.office365.com/owa/?realm=ntnu.no#path=/mail"
          title="E-post"
        />
        <Card href="http://ntnu.1024.no/mortnod" title="Timeplan" />
        <Card href="http://innsida.ntnu.no/o365" title="Office 365" />
        <Card
          href="https://fsweb.no/studentweb/index.jsf?inst=FSNTNU"
          title="Studweb"
        />
        <Card href="https://www.sit.no/mat" title="Mat" />
        <Card href="http://use.mazemap.com/?campuses=ntnu" title="Campuskart" />
        <Card href="https://tp.uio.no/ntnu/rombestilling/" title="Book rom" />
        <Card href="https://software.ntnu.no/" title="Programvare" />
        <Card href="https://farm.ntnu.no/" title="Farm" />
        <Card href="http://grades.no/" title="Karakterer" />
        <Card href="https://www.sit.no/trening/gruppe" title="Trening" />
      </CardWrap>
    </main>
  </Wrap>
</Page>
