---
import CardWrap from '../components/card/CardWrap.astro';
import Header from '../components/Header.astro';
import Page from '../components/Page.astro';
import Wrap from '../components/Wrap.astro';

import Cards from '../content/Cards.astro';
import CalendarSettingsDialog from '../content/CalendarSettingsDialog.astro';
import Footer from '../content/Footer.astro';
---

<Page title="Instabart">
  <div class="grid min-h-full grid-rows-[1fr_auto]">
    <Wrap>
      <Header />
      <main>
        <CardWrap>
          <Cards />
        </CardWrap>
      </main>
    </Wrap>
    <Footer />
    <CalendarSettingsDialog />
  </div>
</Page>
