// Flip the boxes using CSS3
.csstransforms3d.csstransformspreserve3d .card {
  perspective: 800px;

  .content {
    transform-style: preserve-3d;
    transition: 0.4s;

    &.flipped {
      transform: rotateY(-180deg);
    }

    .cardface {
      backface-visibility: hidden;
    }

    .front {
      z-index: 1;
    }

    .back {
      transform: rotateY(-180deg);
      z-index: 2;
    }
  }
}