---
import ButtonPrimary from '../components/button/ButtonPrimary.astro';
import ButtonSecondary from '../components/button/ButtonSecondary.astro';
import Dialog from '../components/dialog/Dialog.astro';
import Input from '../components/Input.astro';
---

<Dialog id="calendar-settings">
  <h1 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">
    Husk kalendernavn?
  </h1>
  <p class="mb-6 text-gray-500 dark:text-slate-300">
    Ved å la Instabart huske kalendernavnet din, vil du bli tatt rett til
    timeplanen din istedenfor forsiden til ntnu.1024.no.
  </p>
  <Input placeholder="Kalendarnavn" class="mb-4" id="calendar-input" />
  <ButtonPrimary id="calendar-button-accept" class="mb-2"
    >Ja, gjerne!</ButtonPrimary
  >
  <ButtonSecondary id="calendar-button-decline"
    >Nei, ta meg til forsiden</ButtonSecondary
  >
</Dialog>

<script>
  const acceptButton = document.getElementById('calendar-button-accept');
  const declineButton = document.getElementById('calendar-button-decline');
  const input = document.getElementById('calendar-input') as HTMLInputElement;
  const dialog = document.getElementById(
    'calendar-settings',
  ) as HTMLDialogElement;
  const calendarCard = document.getElementById(
    'calendar-card',
  ) as HTMLAnchorElement;

  const storedCalendarName = localStorage.calendarName;
  if (storedCalendarName) {
    input.value = storedCalendarName;
  }

  const onClick = (calendarName: string) => {
    localStorage.calendarName = calendarName;

    const calendarBaseUrl = calendarCard.dataset.baseUrl as string;
    const newUrl = calendarBaseUrl + calendarName;

    calendarCard.href = newUrl;
    dialog.close();
    window.location.href = newUrl;
  };

  if (declineButton) {
    declineButton.addEventListener('click', () => {
      onClick('');
    });
  }

  if (acceptButton) {
    acceptButton.addEventListener('click', () => {
      onClick(input.value);
    });
  }
</script>
