---
import DialogOpen from '../components/dialog/DialogOpen.astro';
import IconCog from '../components/icons/IconCog.astro';
import ThemePicker from '../components/ThemePicker.astro';
import Wrap from '../components/Wrap.astro';
---

<footer class="mt-10 border-solid py-4 lg:border-t dark:border-slate-700">
  <Wrap>
    <div class="flex justify-between">
      <ThemePicker />
      <DialogOpen dialogId="calendar-settings">
        <IconCog />
        Innstillinger
      </DialogOpen>
    </div>
  </Wrap>
</footer>
