---
import Button from './Button.astro';

const { dialogId } = Astro.props;
---

<!-- Store dialogId as a data attribute -->
<dialog-open data-dialog-id={dialogId}>
  <Button>
    <slot />
  </Button>
</dialog-open>

<script>
  class DialogOpen extends HTMLElement {
    constructor() {
      super();

      // Read the dialogId from the data attribute.
      const dialogId = this.dataset.dialogId;
      const button = this.querySelector('button');

      if (!button || !dialogId) {
        return;
      }

      const dialog = document.getElementById(dialogId) as HTMLDialogElement;
      button.addEventListener('click', () => {
        dialog.showModal();
      });
    }
  }

  customElements.define('dialog-open', DialogOpen);
</script>
