---
import Button from './Button.astro';
import Dialog from './Dialog.astro';
import DialogOpen from './DialogOpen.astro';
import ThemePicker from './ThemePicker.astro';
import Wrap from './Wrap.astro';
import IconSun from './icons/IconSun.astro';
---

<footer class="mt-10 border-solid py-6 lg:border-t dark:border-slate-700">
  <Wrap>
    <div class="flex">
      <ThemePicker />
      <Dialog id="test">
        <h1 class="text-3xl font-bold">Flott dialog</h1>
        <p>Hei på deg</p>
      </Dialog>
      <DialogOpen dialogId="test">
        <IconSun />
        Innstillinger
      </DialogOpen>
    </div>
  </Wrap>
</footer>
