---

---

<div
  class="mb-2 mt-2 flex items-center gap-4 sm:mb-3 sm:mt-3 md:mb-4 md:mt-8 xl:mb-[5.5vh] xl:mt-[3.5vh]"
>
  <img src="/img/logo.svg" width="90" height="90" alt="" />
  <div>
    <h1 class="text-5xl font-bold">Instabart</h1>
    <p class="text-lg text-gray-500">
      Alt du trenger som student... unntatt kaffe
    </p>
  </div>
</div>
